*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #333333;
}

header{
  height: 70px;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img{
  width: 150px;
  margin-left: 30px;
}
header input{
  height: 25px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #DB202C;
  padding: 5px;
}
header input:focus{
  outline: none;
}

.wrapper{
  margin: 0 auto;
}

.inputs{
  margin-right: 30px;
}
.inputs button{
  padding: 2px;
}

.wrapper_card{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.card{
  width: 270px;
  height: 400px;
  background: #2E3A46;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card img{
  width: 100%;
  height: 100%;
  padding: 5px;

}

.card_content{
  display: none;
}
