<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolfix</title>
  </head>
  <body>

    <div id="app" class="wrapper">
      <!-- header(logo e input search) -->
      <header>
        <a href=""><img src="https://fontmeme.com/permalink/210409/4937b74c6317b36c509baa13669b4b20.png" alt="netflix-font" border="0"></a>
      <div class="inputs">          <!--aggiungo il v-model per richiamare la proprietà in vue/data per fare la ricerca-->
        <input type="text" name="" value="" v-model="nameMovie" @keyup.enter="searchMovie()" placeholder="Cosa vorresti vedere?">
        <button type="button" name="button" @click="searchMovie">Cerca</button>
      </div>                      <!--aggiungo l'evento al click per mostrare i risultati richiamando la function js-->
      </header>

      <!-- card movie e info -->
      <div class="wrapper_card">
        <div v-if="movies.length == 0">
          <h2>Esegui una ricerca!</h2>
        </div>
                       <!--ciclo l'array di movies per associare i risultati che mi servono-->
        <div class="card" v-for="movie in movies">
          <img :src=" movie.poster_path ? 'https://image.tmdb.org/t/p/w300/' + movie.poster_path : 'img/posaman.jpg' " alt="">

          <div class="card_content">
            <p><span class="font_style">Title :</span> {{movie.title ? movie.title : movie.name}}</p>
            <p><span class="font_style">Original title :</span> {{movie.original_title || movie.original_name}}</p>
            <p><span class="font_style">Original lang:</span><img :src= " 'img/' + movie.original_language + '.png'" alt=""></p>
            <p><span class="font_style">Vote :</span> {{movie.vote_average}}</p>
            <p><span class="font_style" v-if="movie.overview">Overview :</span> {{movie.overview}}</p>
          </div>                       <!--se overview è vuoto non mostrarlo-->
        </div>
      </div>

    </div>
    <!-- javascript -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
